.login{
    background-color: #EFF1F7;
   height: 100vh;
   width: 100vw;
   display:flex;
   justify-content: center;
   align-items: center;
}
.indexContainer{
    display: flex;
    height: 100vh;
    width: 100vw;
    .leftContainer{
        width: 285px;
        @media screen and (max-width : 768px) {
            display: none;
        }
    }
    .rightContainer{
        width: calc(100% - 285px);
        @media screen and (max-width:768px) {
            width: 100%;
        }
        .searchbar{
            height: 100px;
        }
        .target{
            height: calc(100% - 100px);
        }
    }
    
}
