.indexContainer{
    display: flex;
    height: 100%;
    .rightContainer{
        width: 100%;
        .searchbar{
            height: 100px;
        }
        .target{
            height: 85%;
        }
    }
}