.indexContainer{
    display: flex;
    height: 100%;
    .leftContainer{
        width: 285px;
    }
    .rightContainer{
        width: calc(100% - 285px);
        .searchbar{
            height: 100px;
        }
        .target{
            height: calc(100% - 100px);
        }
    }
}