
.card {
    background-color: #ffffff;
    border-radius: 30px;
    width:100%;
    max-width: calc(40% - 20px); /* To make two cards fit in a row with a gap between them */
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: grid;
    gap: 0.1rem;
    flex: 0 0 calc(40% - 20px);
    margin-top: 2rem;
  }
  
  
  .card h2 {
    color: #000000;
    font-family: "Poppins-Bold", Helvetica;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 0.5rem;
  }
  
  .card p {
    color: #000000;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 0.8rem;
    font-weight: 400;
    margin-top: 0.02rem;
  }

.boldHeading {
    font-weight: 700;
  }

@media (max-width: 768px) {
    .card {
      grid-template-columns: 1fr;
      padding: 10px;
    }
  }