

.teacherGrid {
    display: grid; 
  grid-template-columns: repeat(auto-fill, minmax(calc(50% - 10px), 1fr));
  gap: 0px;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
   
  }
  